table, tr, th, td {
    border: 1px solid black;
}

table {
    /*width: 300px; */
    background-color: brown;
    border: 2px dotted red;
}

th {
    background-color: blueviolet;
    
}

td {
    background-color: skyblue;
}